<header class="site-header">

    <div class="wrapper">

      <a class="site-title" href="{{ site.baseurl }}/">
        <img height="24" width="24" src="{{ "/assets/favicon.svg" | prepend: site.baseurl }}" />
        {{ site.title }}
      </a>

  
      <nav class="site-nav">

        <div class="trigger">

          <div class="dropdown">
            <a class="dropbtn" href="{{ site.baseurl }}/"> Projects </a>
            <div class="dropdown-content">
              {% for project in site.projects %}
                  <a href="{{ project.url | prepend: site.baseurl }}">
                    {{ project.name }}
                  </a>
              {% endfor %}
            </div>
          </div> 

          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
  
    </div>
  
  </header>