/* Coolors Exported Palette - coolors.co/40f99b-f18805-f46036-8d909b-313e50 */

/* HSL */
$color1: hsla(150%, 94%, 61%, 1);
$color2: hsla(33%, 96%, 48%, 1);
$color3: hsla(13%, 90%, 58%, 1);
$color4: hsla(227%, 7%, 58%, 1);
$color5: hsla(215%, 24%, 25%, 1);

/* RGB */
$color1: rgba(64, 249, 155, 1);
$color2: rgba(241, 136, 5, 1);
$color3: rgba(244, 96, 54, 1);
$color4: rgba(141, 144, 155, 1);
$color5: rgba(49, 62, 80, 1);